body {
  background-color: #497174;
}

h1 {
  text-align: center;
  color: #eff5f5;
}

a {
  color: #eff5f5;
  display: block;
  margin: 0 auto;
}
img {
  width: 600px;
  height: auto;
  display: block;
  margin: 0 auto;
}
