body {
  background-color: #497174;
}

h1 {
  text-align: center;
  color: #eff5f5;
}

a {
color: #eff5f5;
display: d-flex;
justify-content: space-evenly;
text-align: center;
  

}
img {
  width: 800px;
  height: auto;
  display: block;
  margin: 0 auto;
}
